
* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url("rose.png");
    background-repeat: no-repeat;
    background-size: 2000px 2000px;
    background-color: #f1f1f1;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 3000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 50px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 1000%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 800%;
    }
  }